/**
 * Styles for the Header.js component
 */

header {
  .logo {
    position: absolute;
    right: -20%;
    top: 2px;
  }
}

.navbar-brand {
  position: relative;
  font-size: 1.2rem;
}

.fixed-top.navbar {
  background: linear-gradient(1deg, $orange 30%, $pink 100%);
  box-shadow: 0 0 15px #333;
  display: flex;
  justify-content: center;
  .navbar-toggler{
    position: absolute;
    top: 0.6rem;
    right: 0.75rem;
    padding: 0.25rem;
    font-size: 1rem;
  }
}


.dropdown-item {
  &, a {
    text-decoration: none !important;
  }

  .active, &:active {
    &, a {
      color: #fff;
    }
  }
}

